{% extends "@Page/base.html" %}

{% block content %}
    <table class="table table-hover table-inverse">
        <thead>
            <tr>
                <th>Foren</th>
                <th>Statisiken</th>
                <th>Letzter Beitrag</th>
            </tr>
        </thead>
        <tbody>
            {% for i in topic %}
                <tr>
                    <td><i class="fa fa-comment-o" aria-hidden="true"></i> {{ i.getName() }}</td>
                    <td>Themen: 9 <br /> Beträge 34</td>
                    <td>Testpost<br /> von flaver <br /> Gestern</td>
                </tr>
            {% endfor %}
            <tr>
                <td><i class="fa fa-comment" aria-hidden="true"></i> Test3</td>
                <td>Themen: 9 <br /> Beträge 34</td>
                <td>Testpost<br /> von flaver <br /> Gestern</td>
            </tr>
        </tbody>
    </table>

    <form action="{{ url }}/forum/topic/create-topic" method="post">
        <div class="form-group">
          <label for="example-text-input" class="col-2 col-form-label">Forenname</label>
          <div class="col-10">
            <input class="form-control" type="text" value="" name="topic_name" id="example-text-input">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
