{% extends "@Page/base.html" %}

{% block content %}
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="#">Home</a>
      <a class="breadcrumb-item" href="#">Library</a>
      <a class="breadcrumb-item" href="#">Data</a>
      <span class="breadcrumb-item active">Bootstrap</span>
    </nav>
    {{ topic.getName() }}
    <br />
    {% if topic.getPosts().first() == false %}
        <div class="alert alert-info" role="alert">
            <strong>No post found!</strong> But you can create the first post.
        </div>
    {% else %}
        <table class="table table-hover table-inverse">
            <thead>
                <tr>
                    <th>Foren</th>
                    <th>Statisiken</th>
                    <th>Letzter Beitrag von</th>
                </tr>
            </thead>
            <tbody>
                {% for i in topic.getPosts() %}
                    {% if i.getResponse() == false %}
                        <tr>
                            <td>{{ Tag.start_link('forum/post/'~i.getId()) }}<i class="fa fa-comment-o" aria-hidden="true"></i> {{ i.Title() }} {{ Tag.end_link() }}</td>
                            <td>Antworten: 9</td>
                            <td>flaver<br /> Gestern</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td><i class="fa fa-comment" aria-hidden="true"></i> Test3</td>
                    <td>Themen: 9 <br /> Beträge 34</td>
                    <td>Testpost<br /> von flaver <br /> Gestern</td>
                </tr>
            </tbody>
        </table>
    {% endif %}
    <div class="card">
      <div class="card-header">
        Adminwidget
      </div>
      <div class="card-block">
        <h4 class="card-title">Create a new forum</h4>
        <p class="card-text">Just enter the name that the forum should have and you ready to go.</p>
        <form action="{{ url }}/forum/topic/create-topic" method="post">
            <div class="form-group">
              <label for="example-text-input" class="col-2 col-form-label">Forenname</label>
              <div class="col-10">
                <input class="form-control" type="text" value="" name="topic_name" id="example-text-input">
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
{% endblock %}
