{% extends "@Page/base.html" %}

{% block content %}
    {% set list = [{'name': 'Forum', 'link':'forum'}] %}
    {% set active = topic.getName() %}
    {% include '@Page/partials/breadcrum.html' with {'list': list, 'active':active} %}
    {{ topic.getName() }}
    <br />
    {% if topic.getPosts().first() == false %}
        <div class="alert alert-info" role="alert">
            <strong>No post found!</strong> But you can create the first post.
        </div>
    {% else %}
        <table class="table table-hover table-inverse">
            <thead>
                <tr>
                    <th>Foren</th>
                    <th>Statisiken</th>
                    <th>Letzter Beitrag von</th>
                </tr>
            </thead>
            <tbody>
                {% for i in topic.getPosts() %}
                    {% if i.getResponse() == false %}
                        <tr>
                            <td>{{ Tag.start_link('forum/post/'~i.getId()) }}<i class="fa fa-comment-o" aria-hidden="true"></i> {{ i.Title() }} {{ Tag.end_link() }}</td>
                            <td>Antworten: {{ i.getPost()|length }}</td>
                            <td>flaver<br /> Gestern</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td><i class="fa fa-comment" aria-hidden="true"></i> Test3</td>
                    <td>Themen: 9 <br /> Beträge 34</td>
                    <td>Testpost<br /> von flaver <br /> Gestern</td>
                </tr>
            </tbody>
        </table>
    {% endif %}
    {% if user %}
    	{% include '@Forum/partials/bbcode.html' with {'showName': true, 'id': topic.getId(), 'action': 'create-post'} %}
    {% endif %}
{% endblock %}
